.tournament-container {
    height: 80vh;
    padding: 10px 50px;
}

.registration-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    color: #111;
    height: 100%;
    width: 100%;
}

.registration-form {
    width: auto;
    background: #0c7e6e;
    color: #fff;
    padding: 20px;
    /* padding-top: 10vh; */
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
    width: 33vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: fff;
    color: rgb(0 191 165);
    outline: none;
}

.form-group input::placeholder {
    color: #0c7e6e;
    text-align: right;
    font-weight: bold;
}

button {
    width: 33vw;
    padding: 12px;
    background: rgb(0 191 165);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    background: #fff;
    color: rgb(0 191 165);
}

.bank-card-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bank-card {
    width: 450px;
    height: 250px;
    /* background: #0c7e6e; */
    background-image: url(../../../public/images/MellatCard1401.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.card-number {
    cursor: pointer;
    padding: 10px;
    border: 2px dashed #111;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    direction: ltr;
    font-weight: bold;
    background-color: #fff;
    color: #111;
    /* transform: translateY(-95%); */
    font-size: 22px;
    letter-spacing: 5px;
    width: 100%;
}

.card-name {
    padding: 10px;
    border: 2px dashed #111;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    color: #111;
    font-size: 16px;
    width: 50%;
    letter-spacing: 0;
}

.card-number:hover {
    transform: scale(1.02);
}
