/* WebKit Scrollbar */
::-webkit-scrollbar {
    width: 32px;
    height: 32px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #fab811;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fab811;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #f7bb26 black;
}

@font-face {
    font-family: "BLotus";
    src: url("./fonts/BLotus.eot");
    src: url("./fonts/BLotus.woff") format("woff"),
        url("./fonts/BLotus.ttf") format("truetype");
}

body {
    overflow-x: hidden;
    font-family: BLotus, serif;
}
