nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
background-color: transparent;
  color: black;
}
nav h1 {
  margin: 10px;
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
  
}

nav ul li {
  font-size: 18px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f7bb26;
  text-decoration: none;
}
nav ul li a:focus {
  color: #f7bb26;
  text-decoration: none;
}

nav div .bx-menu {
  font-size: 35px;
  display: none;
}
nav ul {
  
}

@media (min-width: 768px) and (max-width: 992px) {
  nav {
    justify-content: space-between;
    padding: 6px 50px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  nav h1 {
    padding: 0;
    margin: 10px;
  }

  nav div .bx-menu {
    display: block;
  }

  nav div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .header.news {
    display: flex;
    background-color: aqua;
  }

  nav ul {
    display: none;
    margin-top: 20px;
    font-size: 25px;
    padding: 50px;
  }

  ul.active {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
  }

  nav ul li {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 20px;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0px;
  }
}

@media (max-width: 480px) {
  nav h1 {
    padding: 0;
    margin: 10px;
  }

  nav div .bx-menu {
    display: block;
  }

  nav div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  nav ul {
    display: none;
    margin-top: 20px;
    font-size: 25px;
    padding: 50px;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
  }

  nav ul li {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    font-size: 20px;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0px;
  }
}
