.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 20px 60px;
    margin-bottom: 10px;
    border: 1px solid #404040;
    border-radius: 10px;
    height: 100%;
    /* max-height: 65vh; */
}

.cmsTableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.edit form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit form h1 {
    margin: 0;
    font-size: 30px;
}

.edit form input:not([type="submit"]) {
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 10px;
    background-color: #000000;
    outline: none;
    width: 270px;
    font-weight: bold;
    color: whitesmoke;
}

.edit form input[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #f7bb26;
    transition: all 0.2s ease;
    cursor: pointer;
}

.edit form input[type="submit"]:hover {
    background-color: whitesmoke;
}
