.header1 {
    width: 100vw;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.header1 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header1 div span {
    font-size: 22px;
    color: whitesmoke;
    cursor: pointer;
}

.header1 div h2 {
    margin: 10px;
    font-size: 27px;
    color: whitesmoke;
}

.header1 button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background-color: #f7bb26;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 17px;
}

.header1 button:hover {
    background-color: whitesmoke;
}

@media (max-width: 768px) {
    .header1 {
        flex-direction: column;
        gap: 20px;
    }

    .header1 div span {
        display: none;
    }
}
.header1 ul a {
    color: aliceblue;
}
