.header {
    width: 100%;
    border: 1px solid black;
    
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header div span {
    font-size: 22px;
    color: whitesmoke;
    cursor: pointer;
}

.header div h2{
    margin: 10px;
    font-size: 27px;
    color: whitesmoke;
}

.header button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background-color: #F7BB26;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 17px;
}

.header button:hover {
    background-color: whitesmoke;
}

@media (max-width:768px) {
  
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header div span {
        display: none;
    }
  }
  .header ul a{
    color: aliceblue;
  }
