.edit-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 20px 60px;
    margin-bottom: 10px;
    border: 1px solid #404040;
    border-radius: 10px;
    height: 100%;
}

.edit-news form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-news form h1 {
    margin: 0;
    font-size: 30px;
    color: #f7bb26; /* رنگ متفاوت برای عنوان */
}

.edit-news form input:not([type="submit"]),
.edit-news form textarea {
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 10px;
    background-color: #000000;
    outline: none;
    width: 270px;
    font-weight: bold;
    color: whitesmoke;
    resize: none; /* غیرفعال کردن تغییر سایز تکست‌اریا */
}

.edit-news form input[type="file"] {
    color: whitesmoke;
}

.edit-news form input[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #f7bb26;
    transition: all 0.2s ease;
    cursor: pointer;
}

.edit-news form input[type="submit"]:hover {
    background-color: whitesmoke;
    color: #000000; /* تغییر رنگ متن در حالت هاور */
}
