header.header-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    color: #111;
    height: 60px;
}
header.header-news h1 {
    margin: 10px;
    color: rgb(0 191 165);
    font-weight: 900;
}

header.header-news ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header.header-news ul li {
    font-size: 18px;
}

header.header-news ul li.active a {
    color: rgb(0 191 165);
}

header.header-news ul li a {
    color: #111;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    font-weight: bold;
}

header.header-news ul li a:hover {
    color: rgb(0 191 165);
    text-decoration: none;
}
header.header-news ul li a:focus {
    color: rgb(0 191 165);
    text-decoration: none;
}

header.header-news div .bx-menu {
    font-size: 35px;
    display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
    header.header-news {
        justify-content: space-between;
        padding: 6px 50px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    header.header-news h1 {
        padding: 0;
        margin: 10px;
    }

    header.header-news div .bx-menu {
        display: block;
    }

    header.header-news div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    header.header-news ul {
        display: none;
        margin-top: 20px;
        font-size: 25px;
        padding: 50px;
    }

    header.header-news ul.active {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 100%;
    }

    header.header-news ul li {
        width: 100%;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        padding-right: 10px;
        font-size: 20px;
    }

    header.header-news {
        flex-direction: column;
        justify-content: space-between;
        padding: 6px 0px;
    }
}

@media (max-width: 480px) {
    header.header-news h1 {
        padding: 0;
        margin: 10px;
    }

    header.header-news div .bx-menu {
        display: block;
    }

    header.header-news div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    header.header-news ul {
        display: none;
        margin-top: 20px;
        font-size: 25px;
        padding: 50px;
    }

    header.header-news ul.active {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 100%;
    }

    header.header-news ul li {
        width: 100%;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        font-size: 20px;
    }

    header.header-news {
        flex-direction: column;
        justify-content: space-between;
        padding: 6px 0px;
    }
}
