aside.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 30px;
    width: 40vw;
    background-color: #222222;
}

aside.sideBar h1 {
    color: #f7bb26;
    width: 100%;
    text-align: right;
    font-size: 25px;
    margin: 0;
}

aside.sideBar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    text-align: right;
}

aside.sideBar > ul > li {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100px;
}

aside.sideBar > ul li:hover {
    text-decoration: underline;
    color: whitesmoke;
    text-decoration: none;
}

aside.sideBar > ul li:focus {
    color: whitesmoke;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    top: 50%;
    right: 7vw;
    background-color: #222222;
    border: 1px solid #ddd;
    padding: 5px 0;
    display: block;
    width: 20vw;
}

.dropdown li {
    padding: 8px 16px;
    cursor: pointer;
    width: 150px;
}

@media (max-width: 768px) {
    aside.sideBar {
        width: 100%;
        margin-bottom: 40px;
    }

    aside.sideBar h1 {
        text-align: center;
    }

    aside.sideBar ul {
        align-items: center;
    }
}
