.tableContainer {
    display: grid;
    grid-template-columns: 1fr;
}

#tables {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 70px;
    background-color: transparent;
    color: white;
    width: 80vw;
}

.snooker,
.billiard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5vw;
    align-items: start;
    justify-items: center;
    width: 80vw;
}

#tables .snooker .option,
#tables .billiard .option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid #404040;
    width: 25vw;
    height: 75vh;
    padding: 5px;
    text-align: right;
}

#tables .snooker .option .image-container,
#tables .billiard .option .image-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

#tables .snooker .option .image-container img,
#tables .billiard .option .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#tables .snooker .option .image-container .overlay,
#tables .billiard .option .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#tables .snooker .option h1,
#tables .billiard .option h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #tables .snooker .option,
    #tables .billiard .option {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #tables .snooker .option,
    #tables .billiard .option {
        width: 250px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #tables .snooker,
    #tables .billiard {
        grid-template-columns: 1fr;
    }
    #tables .snooker .option,
    #tables .billiard .option {
        width: 380px;
    }
}

@media (max-width: 480px) {
    #tables .snooker,
    #tables .billiard {
        grid-template-columns: 1fr;
    }
    #tables .snooker .option,
    #tables .billiard .option {
        width: 320px;
    }
}
